body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-color: rgb(252, 253, 255);
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 120px;
    width: 100%;
    top: 0;
}

#discountTop{
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    position: relative;
    width: 100%;
}

h1{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size:50px;
    letter-spacing: .3cm;
    text-align: center;
    width: 100%;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    margin: 0;

}

.icons{
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: flex-start;
    
}

.icons li{
    padding: 15px;
    box-sizing: content-box;
    list-style: none;
}

.icons-container{
    position: absolute;
    right: 10px;
    top: 20px;
}

#first-element{
    height: 121px;
}

main{
    box-sizing: content-box;
}

main p{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #A6ACAF;
    color: whitesmoke;
    font-weight: bold;
    font-size:50px;
    letter-spacing: 35px;
    text-align: center;
    margin-block: 5px;
    -webkit-text-stroke: #979A9A 1px;
    border-block:#979A9A 2px solid;
    transition: .2s ease;
}

/* main p:hover{
    color: black;
    cursor: pointer;
    transition: .2s ease; 
}*/


.imgContent{
    height: 80%;
}

.descriptionImage{
    height: 20%;
}

.descriptionImage h4, p{
    margin: 5px 0px 0px 0px;
}

.first-row-items{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding-inline: 15px;
    margin-top: 15px;

}
.first-row-items article img{
    width: 100%;
    max-width: 450px;
    object-fit: cover;
}

.second-row-items{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding-inline: 15px;
}

.second-row-items article img{
    width: 100%;
    max-width: 450px;
    object-fit: cover;
}

.descriptionImage h4{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: Medium 500;
    letter-spacing: 2px;
    font-size: 14px;
}

.descriptionImage p{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 14px;
}

.second-row-items article{
    margin-top: 30px;
}

.floating-items{
    width: 100%;
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.floating-items a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    text-decoration: none;
}

.floating-logo img{
    object-fit: cover;
}

.floating-arrow{
    margin-left: 40px;
}

.floating-logo{
    margin-right: 40px;
}

footer{
    background-color: black;
    color: white;
    padding-block: 80px;
    margin-top: 50px;
}

.footer-nav{
    display: flex;
    font-size:15px;
    justify-content: space-evenly;
}

.footer-ppal{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 18%;

}

.footer-ppal p{
    font-family: "Merriweather Sans", sans-serif;
    font-weight:600;
    font-size: 18px;
    margin-bottom: 12px;
}

.footer-item{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    list-style: none;
    padding: 0;
}

.second-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.second-footerNav{
    width: 18%;
}

.fontTitle{
    font-family: "Merriweather Sans", sans-serif;
    font-weight:400;
    font-size: 20px;
}

.second-footer-item{
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.fontNewsletter{
    border: none;
    font-size: 45px;
    padding: 0;
    font-weight: 600;
    line-height: 1.1;
}
