body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-color: rgb(252, 253, 255);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}

.discountTop{
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    position: relative;
    width: 100%;
}

header h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size:90px;
    letter-spacing: .3cm;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -30px;
}

.icons{
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: flex-start;
    
}

.icons li{
    padding: 15px;
    box-sizing: content-box;
    list-style: none;
}

.icons-container{
   position: relative;
}

#top-image{
    margin-top: 121px;
    box-sizing: content-box;
}

.first-row-items{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    max-width: 100%;
}
.first-row-items article img{
    width: 500px;
}

.second-row-items{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.second-row-items article img{
    width: 500px;
}