body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-color: rgb(252, 253, 255);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}

.discountTop{
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    position: relative;
    width: 100%;
}

header h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size:90px;
    letter-spacing: .3cm;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -30px;
}

.icons{
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: flex-start;
    
}

.icons li{
    padding: 15px;
    box-sizing: content-box;
    list-style: none;
}

.icons-container{
   position: relative;
}

#top-image{
    margin-top: 121px;
    box-sizing: content-box;
}

.imgContent{
    height: 80%;
}

.descriptionImage{
    height: 20%;
}

.descriptionImage h4, p{
    margin: 5px 0px 0px 0px;
}

.first-row-items{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    max-width: 100%;
    padding-inline: 15px;
}
.first-row-items article img{
    width: 500px;
}

.second-row-items{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.second-row-items article img{
    width: 500px;
}

.second-row-items article{
    margin-top: 30px;
}


footer{
    background-color: black;
    color: white;
    padding-block: 80px;
    margin-top: 50px;
}

.footer-nav{
    display: flex;
    font-size:15px;
    justify-content: space-evenly;
}

.footer-ppal{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 18%;

}

.footer-ppal p{
    font-family: "Merriweather Sans", sans-serif;
    font-weight:600;
    font-size: 18px;
    margin-bottom: 12px;
}

.footer-item{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    list-style: none;
    padding: 0;
}

.second-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.second-footerNav{
    width: 18%;
}

.fontTitle{
    font-family: "Merriweather Sans", sans-serif;
    font-weight:400;
    font-size: 20px;
}

.second-footer-item{
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.fontNewsteller{
    border: none;
    font-size: 45px;
    padding: 0;
    font-weight: 600;
    line-height: 1.1;
}